---
title: RSVP Received
permalink: /received
--- 
{% include _head.html %}
<!-- HEADER 02 -->
<div id="home" class="header-02">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="flexslider-container">
                    <div class="flexslider">
                        <ul class="slides">
                            <li style="background-image: url(assets/images/rickiandjulia1.jpg);"></li>
                            <li style="background-image: url(assets/images/rickiandjulia2.jpg);"></li>
                            <li style="background-image: url(assets/images/rickiandjulia3.jpg);"></li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="caption received">
                    <h1>RSVP Received</h1>
                    <h6>We'll see you September 1</h6>
                    <br><br>
                    <h3>
                        <a class="btn btn-default" href="/"><i class="fas fa-chevron-left"></i> Go Back</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% include _footer.html %}
