    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12"> 
            COPYRIGHT &copy; 2017 TEMPLATE SUPER - ALL RIGHTS RESERVED
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Scroll to top -->
    <div class="scroll-to-top"><a href="#home"><i class="ion-ios-arrow-up"></i></a></div>
    
    <!-- Javascript -->
    <script src="{{ site.baseurl }}assets/js/plugins/jquery.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/plugins/popper.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/plugins/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/plugins/jquery.flexslider-min.js"></script>
    <script src="{{ site.baseurl }}assets/js/plugins/scrollreveal.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/style-02.js"></script>
    
  </body>
</html>
