<!-- HEADER 02 -->
<div id="home" class="header-02">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="flexslider-container">
                    <div class="flexslider">
                        <ul class="slides">
                            <li style="background-image: url(assets/images/rickiandjulia1.jpg);"></li>
                            <li style="background-image: url(assets/images/rickiandjulia2.jpg);"></li>
                            <li style="background-image: url(assets/images/rickiandjulia3.jpg);"></li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <nav class="fixed-top navbar navbar-expand-lg">
                    <div class="container-fluid">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <span class="navbar-toggler-icon"><i class="ion-android-menu"></i></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#story">Our Story</a></li>
                                <li class="nav-item"><a class="nav-link" href="#wedding">Wedding</a></li>
                                <li class="nav-item"><a class="nav-link" href="#accomm">Accomm</a></li>
                                <li class="nav-item"><a class="nav-link" href="#registry">Registry</a></li>
                                <li class="nav-item"><a class="nav-link" href="#rsvp">RSVP</a></li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <div class="caption">
                    <h1>RICHARD&JULIA</h1>
                    <h6>September 1 2019, Calgary Zoo</h6>
                </div>
            </div>
        </div>
    </div>
</div>
