---
---
$baseurl: '{{ site.baseurl }}';
@import "css/bootstrap.min.css";
@import "variables";
@import "style-02";

// Responisve iframe google map
.map-responsive{
    margin-top: 100px;
    overflow:hidden;
    padding-bottom:70%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

a:hover {
    text-decoration-color: #a2c5c6;
}
